body {
    background-color: darkgray;
}

h1 {
    text-decoration: underline;
    font-family: serif;
    font-size: 32px;
}

h2 {
    font-family: sans-serif;
    font-size: 24px;
}

img {
    max-width: 60%;
    border: solid;
}

.step {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: dotted;
}

div {
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20%;
    padding-right: 20%;
}

#laststep {
    border-bottom: none;
}